/* css para conteúdo dinâmico */

#jogo {
    width: 100%;
    height: 500px;
}

.containerTabela {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.displayNone {
    display: none;
}

.pecas {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.pecaJogador1 {
    background-color: black;
}

.pecaJogador2 {
    background-color: red;
}

/* css para conteúdo dinâmico */

/* css para conteúdo chumbado */

div,
input,
label,
p,
h1,
header,
span,
main,
body,
ol,
li,
html {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
}

:root {
    --bkgd: linear-gradient(to right, #8E2DE2, #4A00E0);
    --fontColor: #fff;
    --border: #8be0f5;
    --btnColor: #fff;
    --btnColorFont: #000046;
    --fFamily: 'Open Sans', sans-serif;
}

body {
    background-image: var(--bkgd);
    color: var(--btnColor);
    font-family: var(--fFamily);
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 1375px;
    padding: 0 20px;
}

ol {
    padding: 0 20px;
}

li,
p {
    margin: 10px 0;
    line-height: 32px;
}

h1 {
    text-align: center;
    margin: 25px 0;
    font-family: 'Kaushan Script', cursive;
    font-size: 40px;
}

.comoJogar {
    text-transform: uppercase;
    font-size: 1.2rem;
}

.labels,
.inputs {
    margin: 10px 20px;
    text-align: center;
    padding: 10px;
    border-radius: 4px;
    border: none;
}

.btn-jogar,
.btn-reset {
    margin-top: 20px;
    border-radius: 4px;
    padding: 12px;
    border: none;
    text-align: center;
    color: var(--btnColorFont);
    font-family: var(--fFamily);
    text-transform: uppercase;
    cursor: pointer;
    background-color: #8E2DE2;
    color: #fff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.separador {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px dotted #fff;
    border-radius: 4px;
    width: 90vw;
    padding: 20px;
}

/* teste nova organização da tabela */

#tabela {
    width: 132px;
    transform: rotate(-90deg);
    align-self: center;
}

.divLinha {
    width: 132px;
    display: flex;
    margin: 1px;
    border: 1px solid yellow;
}

#msgRetorno {
    text-align: center;
    text-transform: uppercase;
    margin: 20px auto;
    font-size: 20px;
    font-weight: bold;
}

/* teste nova organização da tabela */

/* teste */

.quadrado {
    border: 1px solid blue;
    width: 22px;
    height: 22px;
}

/* css para conteúdo chumbado */

/* css para conteúdo dinâmico */

#jogo {
    width: 100%;
    height: 500px;
}

.containerTabela {
    width: 100%;
    height: 80%;
}

.displayNone {
    display: none;
}

.pecas {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

#pecasJogador1 {
    width: 10%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.pecaJogador1 {
    background-color: black;
    border-radius: 50%;
}

.jogNome1,
.jogNome2 {
    width: 100%;
    text-align: center;
}

#pecasJogador2 {
    width: 10%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
}

.pecaJogador2 {
    background-color: red;
    border-radius: 50%;
}

.pecaJogador1,
.pecaJogador2 {
    animation-name: caindo;
    animation-duration: 2s;
    transition-timing-function: ease-in-out;
}

@keyframes caindo {
   from{
       transform: translateX(132px);
    }
    to {
        transform: translateX(0);
    }
}

/* css para conteúdo dinâmico */

@media screen and (min-width: 1024px) {
   main {
       margin: auto;
   }
   .separador {
       width: 50vw;
   }
   .containerTabela {
       width: 80%;
       margin: auto;
   }
}